.recent-section{
	padding:100px 0;
	background-color: #1E1E1E;
}
.recent-text h3{
	color: #DEDEDE;
	font-size: 35px;
	font-weight: 900;
}
.recent-text p{
	color: #fff;
	font-weight: 600;
	max-width: 350px;
	line-height: 2;
}
.recent-text img{
	    max-width: 56%;
}
.recent-form{
	max-width: 300px;
    margin-top: 15px !important;
    font-size: 16px !important;
}
.form-group h1{
	text-align: center;
    color: #d24444;
}

.form-group textarea{
	padding: 20px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
}
.recent-form form{}
form{}
form > input{
	width: 100%;
    padding: 12px 10px !important;
    margin-bottom: 15px !important;
}
.form-control {
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
}
.customs{
	background-color: #a72e2e;
	color: #fff;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 700;
}
h4{
	color: #fff;
	
}
.form-check label{
	color: #fff;
}